/* Importacion de la tipografia a usar */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: inherit;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Desplazamiento hacia arriba */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Sin desplazamiento */
  }
}

/* Estilos para el header */
header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 8px #000 solid;
  background-color: #f5deb3;

  h1 {
    width: 70%;
    text-align: center;
    font-size: 6.5rem;
    border-bottom: medium #000 solid;
    margin: 0;
  }
  p {
    font-size: 1.5rem;
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: space-between;

    a {
      color: #000;
      transition: all 200ms ease; /* Transición de 0.3 segundos */
      animation: entrada 0.5s ease forwards; /* Animación de entrada */
    }
    a:hover {
      color: #ff6600; /* Cambio de color al pasar el ratón */
      transform: scale(1.1); /* Aumentar el tamaño al pasar el ratón */
    }
  }
}
