# Dependencias (Nunca se suben, son muy pesadas)
node_modules/

# Compilación / Build (Se generan al ejecutar npm run build)
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE (Configuraciones de VS Code)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de Sistema
.DS_Store
Thumbs.db

# Documentación Personal (Opcional, si no quieres que sean públicos)
Paleta de Colores.txt
Sobre Mí.docx